@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DreamLand Residency</h1>
    <p class="lead">Welcome to DreamLand Residency</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">View more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Facilities</h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">View more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Activities</h2>
        <p</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">View more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Event</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">View more &raquo;</a></p>
    </div>
</div>