
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/><br/><br/>
@using (Html.BeginForm())
{
<center>
    <div>

        <button>@Html.ActionLink("Nominee", "NomineeRegister", "Election")</button>
        <button>@Html.ActionLink("Voter", "BallotForm", "Election")</button>
    </div>
</center>
}

