
@using (Html.BeginForm())

{
    <br/>
    <center>
        <div class="container">
            <div>
                @Html.Label("Flat No")

                @Html.TextBox("FlatNo","",new { @class="form-control",autoComplete="off"})

            </div>

            <br />
            <div>
            </div>
            <br />
            <div>

                @Html.Label("Password")

                @Html.Password("Password", "", new { @class = "form-control", autoComplete = "off" })

            </div>
        </div>
        <br />
        <input type="submit" value="Login" id="btnSubmit" class="btn btn-primary" />

    </center>
}



