
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/><br/><br/>
@using (Html.BeginForm())
{
<center>
    <div>

        To Nominate Urself click here:<button>@Html.ActionLink("Nominee", "NomineeRegister", "Election")</button>
       
    </div>
    <br />
    <div>
        To vote click here:<button>@Html.ActionLink("Voter", "BallotForm", "Election")</button>
    </div>
</center>
}

