
@using (Html.BeginForm())

{

    <center>

        <div class="container">

            <div>

                @Html.Label("Flat No")

                @Html.TextBox("FlatNo")

            </div>

            <br />

            <div>



            </div>

            <br />

            <div>

                @Html.Label("Password")

                @Html.TextBox("Password")

            </div>

        </div>
        <br />

        <input type="submit" value="Login" id="btnSubmit" class="btn btn-primary" />

    </center>


}



